@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400;1,700&family=Roboto:ital,wght@1,300&family=Slabo+27px&display=swap');

* {
     border: 0;
     margin: 0;
     box-sizing: border-box;
     list-style: none;
}

html {
     scroll-behavior: smooth;
}

:root {
     --background-color: #1D1C33;
     --btn-color: #BAE8E8;
     --nav-color: #2C698D;
     --house-bg-color: #E3F6F5;
     --text-color: #fff;
     --main-text-color: #00008B;
     --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

body {
     font-size: 0.89rem;
     font-family: 'Slabo 27px', serif;
     line-height: 1.5;
     letter-spacing: 1.4;
     background-color: var(--house-bg-color);
}

.logo-section {
     width: 100%;
     height: 100vh;
     background: #1D1C33 url(./assets/city.svg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.logo-info {
     display: flex;
     flex-direction: column;
     gap: .5rem;
     align-items: center;
     margin-bottom: 1rem;
}

.logo-header {
     color: var(--text-color);
     font-size: 3rem;
     letter-spacing: 1.5;
     font-weight: 800;
     text-shadow: 1px 1px 2px white;
}

.logo-info-para {
     color: var(--text-color);
     font-size: 1.2rem;
     font-weight: 600;
     text-transform: capitalize;
     letter-spacing: 1.5;
     line-height: 1.6;
     text-align: center;
}

.explore-btn {
     width: 150px;
     padding: .5rem 2rem;
     border-radius: .5rem;
     text-transform: capitalize;
     background-color: var(--btn-color);
     color: var(--background-color);
     font-weight: 600;
     box-shadow: var(--box-shadow);
}

.home-section {
     width: 100%;
     height: 100vh;
}

@media screen and (max-width: 600px) {
     .logo-info {
          gap: .2rem;
          background-color: var(--background-color);
          margin-bottom: 5rem;
     }

     .logo-header {
          font-size: 2rem;
     }

     .logo-info-para {
          font-size: 1.1rem;
          margin-bottom: 1rem;
     }
}

.signup-section {
     background-color: #1D1C33;
     width: 65vw;
     margin-top: 10rem;
}